div
{
	color: blue;
	/*font-size: 22px;*/
	float: left;
	margin-right: 100px;

}
h2
{
	color: black;
	font-size: 20px;
}

h1
{
	color: black;
	font-size: 20px;
	margin-right: 20px;
	text-align: right;
	
}


.styled-select 
{
   
   height: 29px;   
   width: 240px;
}

/*here we define class to color temperature font if will be grater than xC */
.high_temp
{
	color: red;
}


/*here we define class to color temperature font in normal status */

.normal
{
	color: green;
}

.sensor_problem
{
	font-size: 20px;
	color: red;
	text-align: right;
	
}