{% extends 'base.html' %}
	{% block contentHead %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/socket_style.css')}}">	
		<script type="text/javascript" src="{{ url_for('static', filename='js/socket_logic.js')}}"></script>
	{% endblock contentHead %}

	{% block contentBody %}

		<div class='seted_info'>Ustaw wyłączenie gniazd</div>
		<select id='ONchooseBox'></select>		
		<select id='OFFchooseBox'></select>
		<br>
		</br>	
		<button id='save'>zapisz</button>
		<!-- <button type="button" id='save' class="btn btn-primary">Zapisz</button> -->
		<br>
		</br>	
		<script type="module" src="{{ url_for('static', filename='js/chosebox_logic.js')}}"></script>
		<div id='seted_time' class='seted_info'>info</div>
		<div id='parrent'></div>		

	{% endblock contentBody %}
	

